<!DOCTYPE html>
<html>
    <head>
        <title>beets - choose art</title>

        <!--link rel="stylesheet"
        href="{{ url_for('static', filename='beets.css') }}" type="text/css"-->

        <script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='underscore-min.js') }}">
        </script>
        <script src="{{ url_for('static', filename='backbone.js') }}"></script>
        <script src="{{ url_for('static', filename='webchooser.js') }}"></script>
    </head>
    <body>
        <div id="entities">
            <form id="queryForm">
                <input type="search" id="query" placeholder="Query">
            </form>
            <ul id="results">
            </ul>
        </div>

        <div id="content">
        </div>

        <!-- Templates. -->
        <script type="text/template" id="album-template">
            <div class="title"><%= title %></div>
            <div class="arts"></div>
        </script>
        <script type="text/template" id="art-template">
            <div>
                <img src="/art/<%= album_id %>/<%= filename %>">
            </div>
        </script>
    </body>
</html>
