<!DOCTYPE html>
<html>
    <head>
        <title>beets - choose art</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/webchooser.css') }}" type="text/css">

        <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
        <script type="text/javascript">
            var size_thresh = {{ size_thresh }};
            var ar_thresh = {{ ar_thresh }};
        </script>
        <script src="{{ url_for('static', filename='js/webchooser.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <span class="navbar-brand">beets - Choose art</span>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
                        <form class="dropdown-menu form" id="options-drop-down" role="menu">
                            <label>
                                <input type="checkbox" id="checkHideBadArt"> Hide bad art
                            </label>
                            <label>
                                <input type="checkbox" id="checkHideGoodArt"> Hide good art
                            </label>
                            <label>
                                <input type="checkbox" id="checkHideOneArt"> Hide albums with one cover art
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="entities">
            <form id="queryForm">
                <label>Albums:</label>
                <input type="search" id="query" placeholder="Query">
            </form>
            <ul id="results">
            </ul>
        </div>

        <div id="content">
        </div>
        <div id="artview">
            <img id="artviewart" src=""/>
        </div>

        <!-- Templates. -->
        <script type="text/template" id="album-template">
            <div class="album-title-right">
                <button class="btn btn-default btn-sm collect-art" <%= collecting ? 'disabled' : '' %>><span class="glyphicon glyphicon-refresh <%= collecting ? 'glyphicon-refresh-animate' : '' %>"></span> Collect</button>
            </div>
            <h1><%= title %></h1>
            <div class="arts"></div>
        </script>
        <script type="text/template" id="art-template">
            <div class="art-infos">
                <%= bound_art ? '<i class="glyphicon glyphicon-link" title="This cover art is bound to the album."></i>' : '' %>
                <%= would_choose ? '<i class="glyphicon glyphicon-star" title="This cover art would be chosen automatically."></i>' : '' %>
            </div>
            <div class="artcontainer" style="background-image: url(/art/<%= album.get('id') %>/<%= file_name %>)"></div>
            <table>
                <tr>
                    <td>Name</td><td><%= file_name %></td><td><i class="glyphicon glyphicon-remove art-remove" title="Delete this cover art."></i></td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td class="<%= width < size_thresh || height < size_thresh ? 'bad' : 'good' %>"><%= width %>x<%= height %></td><td><i class="glyphicon glyphicon-ok art-choose" title="Bound this cover art."></i></td>
                </tr>
                <tr>
                    <td>AR</td>
                    <td class="<%= aspect_ratio < ar_thresh ? 'bad' : 'good' %>"><%= aspect_ratio.toFixed(2) %></td>
                </tr>
            </table>
        </script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
